* {
  box-sizing: border-box;
  font-family: Poppins;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  display: block;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: 1.6rem;
}

a {
  font-size: inherit;
}

#cover {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 110vh;

  background-image: url(/images/Messi-levantando-copa-del-mundo.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#title {
  line-height: 1.2;
  margin-top: -10vh;
  font-size: 10vw;
  text-align: center;
}

#img-div {
  margin: 0;
  color: #f6f6f6;
  background-color: #080808;
  padding: 8rem 0;
}

#image {
  display: block;

  margin: auto;

  max-width: 100%;
  width: 50%;
  min-width: 400px;
  height: auto;
}

#img-caption {
  margin-top: 2rem;
  font-size: 1.3rem;
  text-align: center;
}

#info-section {
  margin: 0 auto;
  margin-top: 5rem;
  width: 60%;
  min-width: 400px;
}
